.header{
	border-top: 2px solid;
	border-right: 2px solid; 
	border-left: 2px solid;
	border-bottom: 0px;
	width: 100%;
	height: auto;
	display: inline-block;
}
.c{
	text-align:center; 
	padding-top: 30px
}
.logo{
	width: 150px;
	height: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.banner{
	float: right;
	width: 500px;
	height: auto;
	margin-right: 380px;
}
.slogan{
	width: 90px;
	height: 40px;
	padding-left: 40px;
}
.body{
	border: 2px solid;
	width: 100%;
}
.footer{
	text-align: center;
	background-color: lightblue;
	border-top: 0px;
	border: 2px solid;
	width: 100%;
}
.form-group{
	margin: 15px;
}
label{
	display: inline-block;
	width: 100px;
}
.form-control{
	border-radius: 3px;
}
.danger-text{
	color: red;
}
.succes-text{
	color: green;
}
.hidden-text{
	display: none;
}
.img{
	width: 100%;
}
.dienthoai{
	width: 100%;
}